<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Python-工具篇" data-toc-modified-id="Python-工具篇-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Python 工具篇</a></span><ul class="toc-item"><li><span><a href="#python-基础" data-toc-modified-id="python-基础-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>python 基础</a></span><ul class="toc-item"><li><span><a href="#数值(numbers)" data-toc-modified-id="数值(numbers)-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>数值(numbers)</a></span></li><li><span><a href="#变量赋值" data-toc-modified-id="变量赋值-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>变量赋值</a></span></li><li><span><a href="#字符串(Strings)" data-toc-modified-id="字符串(Strings)-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>字符串(Strings)</a></span></li><li><span><a href="#列表[list]" data-toc-modified-id="列表[list]-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>列表[list]</a></span></li><li><span><a href="#字典(dictionaries)" data-toc-modified-id="字典(dictionaries)-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>字典(dictionaries)</a></span></li><li><span><a href="#真假值(Booleans)" data-toc-modified-id="真假值(Booleans)-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>真假值(Booleans)</a></span></li><li><span><a href="#元组(tuples)" data-toc-modified-id="元组(tuples)-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>元组(tuples)</a></span></li><li><span><a href="#集合(sets)" data-toc-modified-id="集合(sets)-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>集合(sets)</a></span></li><li><span><a href="#比较操作符" data-toc-modified-id="比较操作符-1.1.9"><span class="toc-item-num">1.1.9&nbsp;&nbsp;</span>比较操作符</a></span></li><li><span><a href="#逻辑运算" data-toc-modified-id="逻辑运算-1.1.10"><span class="toc-item-num">1.1.10&nbsp;&nbsp;</span>逻辑运算</a></span></li><li><span><a href="#流程控制" data-toc-modified-id="流程控制-1.1.11"><span class="toc-item-num">1.1.11&nbsp;&nbsp;</span>流程控制</a></span><ul class="toc-item"><li><span><a href="#if-elif-else-语句" data-toc-modified-id="if-elif-else-语句-1.1.11.1"><span class="toc-item-num">1.1.11.1&nbsp;&nbsp;</span>if elif else 语句</a></span></li><li><span><a href="#for-loops" data-toc-modified-id="for-loops-1.1.11.2"><span class="toc-item-num">1.1.11.2&nbsp;&nbsp;</span>for loops</a></span></li><li><span><a href="#while-loop" data-toc-modified-id="while-loop-1.1.11.3"><span class="toc-item-num">1.1.11.3&nbsp;&nbsp;</span>while loop</a></span></li><li><span><a href="#range" data-toc-modified-id="range-1.1.11.4"><span class="toc-item-num">1.1.11.4&nbsp;&nbsp;</span>range</a></span></li></ul></li><li><span><a href="#列表推导式" data-toc-modified-id="列表推导式-1.1.12"><span class="toc-item-num">1.1.12&nbsp;&nbsp;</span>列表推导式</a></span></li><li><span><a href="#函数" data-toc-modified-id="函数-1.1.13"><span class="toc-item-num">1.1.13&nbsp;&nbsp;</span>函数</a></span></li><li><span><a href="#lambda-表达式" data-toc-modified-id="lambda-表达式-1.1.14"><span class="toc-item-num">1.1.14&nbsp;&nbsp;</span>lambda 表达式</a></span></li><li><span><a href="#map-and-filter" data-toc-modified-id="map-and-filter-1.1.15"><span class="toc-item-num">1.1.15&nbsp;&nbsp;</span>map and filter</a></span></li><li><span><a href="#方法(method)" data-toc-modified-id="方法(method)-1.1.16"><span class="toc-item-num">1.1.16&nbsp;&nbsp;</span>方法(method)</a></span></li></ul></li><li><span><a href="#numpy--(参考-numpy-文档)" data-toc-modified-id="numpy--(参考-numpy-文档)-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>numpy  (参考 numpy 文档)</a></span><ul class="toc-item"><li><span><a href="#基础操作" data-toc-modified-id="基础操作-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>基础操作</a></span></li><li><span><a href="#切片操作" data-toc-modified-id="切片操作-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>切片操作</a></span></li><li><span><a href="#数组的数据结构" data-toc-modified-id="数组的数据结构-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>数组的数据结构</a></span></li><li><span><a href="#数组计算方法" data-toc-modified-id="数组计算方法-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>数组计算方法</a></span></li><li><span><a href="#数组方法们" data-toc-modified-id="数组方法们-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>数组方法们</a></span></li><li><span><a href="#数组广播" data-toc-modified-id="数组广播-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>数组广播</a></span></li><li><span><a href="#结构化数组" data-toc-modified-id="结构化数组-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>结构化数组</a></span></li><li><span><a href="#参考教程" data-toc-modified-id="参考教程-1.2.8"><span class="toc-item-num">1.2.8&nbsp;&nbsp;</span>参考教程</a></span></li></ul></li><li><span><a href="#pandas-基础" data-toc-modified-id="pandas-基础-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>pandas 基础</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Dataframes" data-toc-modified-id="Dataframes-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Dataframes</a></span></li><li><span><a href="#缺失值" data-toc-modified-id="缺失值-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>缺失值</a></span></li><li><span><a href="#Groupby" data-toc-modified-id="Groupby-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Groupby</a></span></li><li><span><a href="#merging-joining-concatnating" data-toc-modified-id="merging-joining-concatnating-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>merging joining concatnating</a></span></li><li><span><a href="#操作-Operations" data-toc-modified-id="操作-Operations-1.3.6"><span class="toc-item-num">1.3.6&nbsp;&nbsp;</span>操作 Operations</a></span></li></ul></li></ul></li><li><span><a href="#概率论篇" data-toc-modified-id="概率论篇-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>概率论篇</a></span><ul class="toc-item"><li><span><a href="#随机变量" data-toc-modified-id="随机变量-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>随机变量</a></span></li></ul></li></ul></div>

# Python 工具篇

## python 基础

- 数据类型
    - Numbers
    - Strings
    - Printing
    - Lists
    - Dictionaries
    - Booleans
    - Tuples
    - Sets
- 比较操作符
- 流程控制
    - if elif else
    - for loops
    - while loops
    - range
    - list comprehension
    - functions
    - lambda expression
    - map and filter
    - methods

### 数值(numbers)

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
5 % 2

1

### 变量赋值

In [8]:
number_of_var = 2

In [9]:
x, y = 2, 3

In [10]:
z = x + y

In [11]:
z

5

### 字符串(Strings)

In [12]:
x = "hello"

In [13]:
x

'hello'

In [14]:
print(x)

hello

In [15]:
num = 12
name="Sam"

In [16]:
print('My number is {one}, and my name is {two}'.format(one=num, two=name))

My number is 12, and my name is Sam

### 列表[list]

In [17]:
[1, 2, 3]

[1, 2, 3]

In [18]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [19]:
my_list = ['a', 'b', 'c']

In [20]:
my_list.append('d')

In [21]:
my_list

['a', 'b', 'c', 'd']

In [22]:
my_list[0]

'a'

In [23]:
my_list[1:]

['b', 'c', 'd']

In [24]:
my_list[:-1]

['a', 'b', 'c']

In [25]:
my_list[0] = 'new'

In [26]:
my_list

['new', 'b', 'c', 'd']

In [27]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [28]:
nest[3][2]

['target']

In [29]:
nest[3][2][0]

'target'

### 字典(dictionaries)

In [30]:
d = {"key1": "item1", "key2": "item2"}

In [31]:
d["key1"]

'item1'

### 真假值(Booleans)

In [32]:
True

True

In [33]:
False

False

### 元组(tuples)

In [34]:
t = (1, 2, 3)

In [35]:
t[0]

1

In [36]:
t[1] = False

TypeError: 'tuple' object does not support item assignment

### 集合(sets)

In [ ]:
{1, 2, 3}

In [ ]:
{1, 2, 3, 4, 2, 2, 1, 3, 2}

### 比较操作符

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

### 逻辑运算

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

### 流程控制

#### if elif else 语句

In [ ]:
if 1 < 2:
    print("Yep!")

In [ ]:
if 1 < 2:
    print('Yep!')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('Yep!')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

#### for loops

In [ ]:
seq = [1, 2, 3, 5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print(item ** 2)

#### while loop

In [ ]:
i = 1
while i < 5:
    print('i is : {}'.format(i))
    i += 1

#### range

In [ ]:
range(5) # x 属于 [0, 5) 且 x 是整数

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

### 列表推导式

In [ ]:
x = range(1, 5)
out = []
for item in x:
    out.append(item**2)

In [ ]:
print(out)

In [ ]:
[item ** 2 for item in x]

### 函数

In [ ]:
def my_func(param1="default"):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func(param1="new param")

In [ ]:
my_func("23")

### lambda 表达式

In [ ]:
def times2(var):
    return var * 2

In [ ]:
times2(2)

In [ ]:
lambda x: x*2

In [ ]:
z = lambda x: x*2
z(3)

### map and filter

In [ ]:
seq = range(0, 6)

In [ ]:
map(times2, seq)

In [ ]:
list(map(times2, seq))

In [ ]:
list(map(lambda x: x*2, seq))

In [ ]:
filter(lambda item: item%2==0, seq)

In [ ]:
list(filter(lambda item: item % 2 == 0, seq))

### 方法(method)

In [ ]:
st = "hello my name is Sam"

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = "Go Sports! #Sports"

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1, 2, 3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1, 2, 3]

In [ ]:
'x' in ['x', 'y', 'z']

In [74]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [40]:
d.update?

## numpy  (参考 numpy 文档)

- 是什么
    - 一个由多维数组对象和用于处理数组的库
    
  
**主要理解操作的对象是什么， 它有哪些功能， 需要某个功能，先查文档**

### 基础操作

In [41]:
import numpy as np

In [42]:
x = np.array(range(0, 6))

In [43]:
x

array([0, 1, 2, 3, 4, 5])

In [44]:
x.itemsize # bytes per element

8

In [45]:
np.sin(np.array(range(0, 10)))

array([ 0.    ,  0.8415,  0.9093,  0.1411, -0.7568, -0.9589, -0.2794,
        0.657 ,  0.9894,  0.4121])

In [75]:
# it is eql to 
from math import sin
print([sin(i) for i in range(0, 10)])

[0.0, 0.8414709848078965, 0.9092974268256817, 0.1411200080598672, -0.7568024953079282, -0.9589242746631385, -0.27941549819892586, 0.6569865987187891, 0.9893582466233818, 0.4121184852417566]

In [91]:
x = np.array([[1, 2, 3], [4, 5, 6]]) # 创建 2 x 3 的array
type(x), x.dtype

(numpy.ndarray, dtype('int64'))

In [49]:
x.shape # shape return a tuple listing the length of the array along each dimension

(2, 3)

In [50]:
x[:, 0] # 获取第一列 == x[..., 0]

array([1, 4])

In [51]:
x[0, :] # 获取第一行 == x[0, ...]

array([1, 2, 3])

In [81]:
x.size, np.size(x) # size reports the entire number of elements in an array

(15, 15)

In [83]:
x.nbytes # return the number of bytes used by the data portion of the array

120

In [86]:
x.ndim # return the number of dimensions

2

In [92]:
x[0]

array([1, 2, 3])

In [93]:
x[0] = 1

In [94]:
x

array([[1, 1, 1],
       [4, 5, 6]])

In [95]:
x.fill(0) # set all values in array

In [96]:
x

array([[0, 0, 0],
       [0, 0, 0]])

In [99]:
x[:, :] = 1 # this is also works, but may be slower

In [100]:
x

array([[1, 1, 1],
       [1, 1, 1]])

In [101]:
x.dtype

dtype('int64')

In [102]:
x[0, 0] = 10.6 # 会根据x的dtype自动将其转为 int64

In [103]:
x

array([[10,  1,  1],
       [ 1,  1,  1]])

In [105]:
x.fill(-4.8)

In [106]:
x

array([[-4, -4, -4],
       [-4, -4, -4]])

### 切片操作

```var[lower:upper:step]```
- 它指定的范围是， 包含下界， 不包含上界， 并且可以指定步长

In [109]:
x = np.arange(10)

In [110]:
x[1:3]

array([1, 2])

In [111]:
x[1:-2]

array([1, 2, 3, 4, 5, 6, 7])

In [114]:
x[-10: 3]

array([0, 1, 2])

In [115]:
x[::2]

array([0, 2, 4, 6, 8])

In [116]:
x = np.arange(8).reshape(2, 4)

In [117]:
x.shape

(2, 4)

In [118]:
x[1, 3]

7

In [119]:
x[1]

array([4, 5, 6, 7])

In [122]:
from IPython.display import Image

In [123]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt1e73qllj20zu0mcdk8.jpg", width=600)

In [128]:
# 切片是内存中数组的应用，改变切片的值，将会改变原来数组的值
a = np.array((1, 2, 3, 4))

In [129]:
b = a[2:4]

In [130]:
b[0] = 10 # b 改变了，a也变了

In [131]:
a

array([ 1,  2, 10,  4])

In [132]:
a = np.arange(0, 80, 10)

In [133]:
indices = [1, 2, -3]
y = a[indices]

In [134]:
y

array([10, 20, 50])

In [135]:
from random import randint

In [136]:
mask = np.array([randint(0, 1) for i in range(len(a))], dtype=bool)

In [137]:
mask

array([ True,  True, False,  True,  True, False, False,  True], dtype=bool)

In [138]:
y = a[mask]

In [139]:
y

array([ 0, 10, 30, 40, 70])

In [140]:
mask2 = a < 30

In [141]:
mask2

array([ True,  True,  True, False, False, False, False, False], dtype=bool)

In [142]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt1u0y4cfj211e0gq0wf.jpg", width=600)

In [143]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt1w6ryjej212e0jytaq.jpg", width=600)

In [144]:
a = np.arange(27).reshape(3, 3, 3)

In [145]:
y = a[:, :, [2, -2]]

In [146]:
y

array([[[ 2,  1],
        [ 5,  4],
        [ 8,  7]],

       [[11, 10],
        [14, 13],
        [17, 16]],

       [[20, 19],
        [23, 22],
        [26, 25]]])

In [147]:
a = np.array([0, 12, 5, 20])

In [148]:
a > 10

array([False,  True, False,  True], dtype=bool)

In [149]:
np.where(a > 10)

(array([1, 3]),)

In [154]:
a = np.array([[0, 12, 5, 10], [1, 2, 11, 15]])
a.ndim

2

In [151]:
loc = np.where(a > 10)

In [155]:
loc # [(0, 1), (1, 2), (1, 3)] 返回每一维的下标

(array([0, 1, 1]), array([1, 2, 3]))

### 数组的数据结构

In [156]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt28waxe2j20yc0g6gmr.jpg", width=600)

In [157]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt2a4t85cj210a0newhe.jpg", width=600)

In [173]:
## 拍平数组
a = np.array([[0, 1], [2, 3]])

In [174]:
b = a.flatten() # 这里是复制

In [175]:
b

array([0, 1, 2, 3])

In [176]:
b[0] = 10

In [177]:
b

array([10,  1,  2,  3])

In [178]:
a

array([[0, 1],
       [2, 3]])

In [179]:
a.flat

In [180]:
a.flat[:]

array([0, 1, 2, 3])

In [181]:
b[0] = 10

In [182]:
b

array([10,  1,  2,  3])

In [183]:
a

array([[0, 1],
       [2, 3]])

In [184]:
b = a.flat   # 这里是引用

In [185]:
b[0] = 10

In [186]:
a

array([[10,  1],
       [ 2,  3]])

In [172]:
b

In [187]:
a

array([[10,  1],
       [ 2,  3]])

In [191]:
b = a.ravel()   # 和flatten类似，但是他返回是原始数据的引用

In [192]:
b[0] = 11

In [193]:
a

array([[11,  1],
       [ 2,  3]])

In [195]:
aa = a.transpose() ## 矩阵转置 内存地址变化了

In [196]:
aa

array([[11,  2],
       [ 1,  3]])

In [197]:
b = aa.ravel()

In [198]:
b[0] = 10

In [199]:
a

array([[11,  1],
       [ 2,  3]])

In [200]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt2r7fu9pj212y0oa79z.jpg", width=600)

In [202]:
a.strides

(16, 8)

In [203]:
aa.strides

(8, 16)

In [204]:
a = np.arange(3)

In [205]:
a.shape

(3,)

In [208]:
y = a[np.newaxis, :] #增加一个轴

In [209]:
y.shape

(1, 3)

In [210]:
y[0, 1]

1

In [217]:
a = np.arange(6).reshape(2, 3)
a

array([[0, 1, 2],
       [3, 4, 5]])

In [214]:
a.shape

(2, 3)

In [215]:
a.shape = (2, 1, 3)

In [216]:
a

array([[[0, 1, 2]],

       [[3, 4, 5]]])

In [218]:
a = a.squeeze() # 压缩矩阵，如果他某一纬的长度是1

In [219]:
a

array([[0, 1, 2],
       [3, 4, 5]])

In [220]:
a = np.array([[11, 21, 31], [12, 22, 32], [13, 23, 33]])

In [222]:
a.diagonal() # 取对角线元素

array([11, 22, 33])

In [223]:
a.diagonal(offset=1)

array([21, 32])

In [224]:
i = [0, 1, 2]
a[i, i]

array([11, 22, 33])

In [225]:
a[i, i] = 2

In [226]:
a

array([[ 2, 21, 31],
       [12,  2, 32],
       [13, 23,  2]])

In [227]:
i2 = np.array([0, 1])

In [228]:
a[i2, i2+1] = 1

In [229]:
a

array([[ 2,  1, 31],
       [12,  2,  1],
       [13, 23,  2]])

In [230]:
a[i2+1, i2] = -1

In [231]:
a

array([[ 2,  1, 31],
       [-1,  2,  1],
       [13, -1,  2]])

In [232]:
a = np.array([0, 1.0, 2, 3])

In [234]:
a.dtype, a.nbytes

(dtype('float64'), 32)

In [251]:
a = np.array([0, 1.0, 2, 3], dtype="float32")

In [252]:
a.dtype, a.nbytes

(dtype('float32'), 16)

In [254]:
a.dtype
a

array([ 0.,  1.,  2.,  3.], dtype=float32)

In [262]:
np.asarray(a, dtype="float64")

array([ 0.,  1.,  2.,  3.])

In [263]:
a.dtype

dtype('float32')

### 数组计算方法

In [264]:
a = np.arange(6).reshape(2, 3)

In [267]:
np.sum(a)

15

In [268]:
np.sum(a, axis=1)

array([ 3, 12])

In [269]:
a.sum()

15

In [270]:
a.sum(axis=0)

array([3, 5, 7])

In [271]:
a.prod(axis=1)  # *

array([ 0, 60])

In [272]:
a.prod(axis=0)

array([ 0,  4, 10])

In [273]:
# min and max

In [275]:
a = np.array([2., 3., 0., 1.])

In [276]:
a.min(axis=0)

0.0

In [278]:
np.min(a, axis=0)

0.0

In [279]:
a.argmin(axis=0)  # return index

2

In [280]:
a = np.arange(1, 7).reshape(2, 3)

In [281]:
a.mean(axis=0)

array([ 2.5,  3.5,  4.5])

In [282]:
np.average(a, axis=0)

array([ 2.5,  3.5,  4.5])

In [284]:
np.average(a, weights=[1, 2], axis=0) # 指定权重

array([ 3.,  4.,  5.])

In [285]:
a.std(axis=0)

array([ 1.5,  1.5,  1.5])

In [286]:
a.var(axis=0)

array([ 2.25,  2.25,  2.25])

In [287]:
np.var(a, axis=0)

array([ 2.25,  2.25,  2.25])

In [289]:
a.clip(3, 5)  # 小于3 是变成3， 大于5的变成5

array([[3, 3, 3],
       [4, 5, 5]])

In [290]:
a.ptp(axis=0) # 最大值减去最小值， 指定维

array([3, 3, 3])

In [291]:
a.ptp(axis=None) #全部元素 最大值 减去 最小值

5

In [292]:
a = np.array([1.34, 2.5, 1.5])

In [293]:
a.round()

array([ 1.,  2.,  2.])

In [294]:
a.round(decimals=1)

array([ 1.3,  2.5,  1.5])

### 数组方法们

In [296]:
a = np.arange(4)

In [297]:
b = np.arange(0, 2 * np.pi, np.pi / 4)

In [298]:
b

array([ 0.    ,  0.7854,  1.5708,  2.3562,  3.1416,  3.927 ,  4.7124,
        5.4978])

In [299]:
np.ones((ge2, 3))

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [300]:
np.zeros((3))

array([ 0.,  0.,  0.])

In [301]:
np.identity(4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [302]:
np.identity(4, dtype='int')

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [304]:
np.linspace(0, 1, 5)  # 均匀分布

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ])

In [305]:
np.logspace(0, 1, 5) # default log base = 10 [base ** start, base**stop]

array([  1.    ,   1.7783,   3.1623,   5.6234,  10.    ])

In [306]:
x, y = np.mgrid[0:5, 0:5]

In [307]:
x

array([[0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4]])

In [308]:
y

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

In [309]:
x, y = np.ogrid[0:3, 0:3]

In [310]:
x

array([[0],
       [1],
       [2]])

In [311]:
y

array([[0, 1, 2]])

In [312]:
print(x+y)

[[0 1 2]
 [1 2 3]
 [2 3 4]]

In [314]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4ka7b5pj213c0rqq96.jpg', width=600)

In [315]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4l4xdc0j213e0rotep.jpg', width=600)

In [316]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4p52o0zj212k0tgn2i.jpg', width=600)

In [317]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4stpi1lj20zw0ssgpc.jpg', width=600)

In [318]:
a = np.array([[0, 1, 2], [10, 11, 12], [20, 21, 22]])

In [319]:
a < 10

array([[ True,  True,  True],
       [False, False, False],
       [False, False, False]], dtype=bool)

In [320]:
np.choose(a<10, (a, 10))

array([[10, 10, 10],
       [10, 11, 12],
       [20, 21, 22]])

In [321]:
lt = a < 10
gt = a > 15

In [322]:
choice = lt + 2 * gt

In [323]:
choice

array([[1, 1, 1],
       [0, 0, 0],
       [2, 2, 2]])

In [324]:
np.choose(choice, (a, 10, 15))

array([[10, 10, 10],
       [10, 11, 12],
       [15, 15, 15]])

In [325]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4y36lhcj21280s80xj.jpg', width=600)

In [327]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt4zm1zzpj213q0tg79y.jpg', width=600)

In [328]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt50gv5b2j21380u4tex.jpg', width=600)

In [329]:
Image(url="http://ww1.sinaimg.cn/large/9e58a4edly1fmt52hnt3xj21440uk44d.jpg", width=600)

In [330]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt54af9efj213k0p0tde.jpg', width=600)

### 数组广播

In [331]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt56d99a3j212c0sgdny.jpg', width=600)

In [332]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt58w1j1ej212o0su0x7.jpg', width=600)

In [333]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5c6mvhnj210a0m0ad9.jpg', width=600)

In [334]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5cq2rs3j20yo0mgdhh.jpg', width=600)

In [335]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5gz3gmsj21300p0wjc.jpg', width=600)

In [336]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5hnlgwrj211q0oa0wf.jpg', width=600)

### 结构化数组

In [337]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5jfgw19j212o0rwagp.jpg', width=600)

In [338]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5kmpxsvj213c0qu0yy.jpg', width=600)

In [339]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5lf12joj212c0ra455.jpg', width=600)

In [340]:
Image(url='http://ww1.sinaimg.cn/large/9e58a4edly1fmt5m32muzj212c0py0wz.jpg', width=600)

### 参考教程

- [NumPy 教程](https://www.gitbook.com/book/wizardforcel/ts-numpy-tut/details)

## pandas 基础

**Pandas 是处理复杂表格数据的库**
- 定义表格数据类型
- 数据合并，数据集成： 删除重复项，清理数据，管理缺失值，通过索引自动对齐表。。。
- 创建数据挖掘的表
- 类sql操作
- 日期操作
- 数据可视化

### Series

Series是对numpy array 对象的封装，它们的不同是， Series 可以拥有 axis labels， 意味着他可以通过标签进行索引，而不仅仅是一个数字索引。
- 它的内部数据可以是任意python对象

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array(my_list)
d = {'a': 10, 'b': 20, 'c': 30}
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [3]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(['a', sum, 1, {'a': 1}])

0                          a
1    <built-in function sum>
2                          1
3                   {'a': 1}
dtype: object

In [9]:
ser1 = pd.Series([1, 2, 3, 4], index=['USA', 'CHN', 'JPN', 'US'])
ser2 = pd.Series([2, 3, 4, 5], index=['USA', 'ITA', 'GER', 'JPN'])

In [12]:
ser1

USA    1
CHN    2
JPN    3
US     4
dtype: int64

In [13]:
ser2

USA    2
ITA    3
GER    4
JPN    5
dtype: int64

In [14]:
ser1 + ser2

CHN    NaN
GER    NaN
ITA    NaN
JPN    8.0
US     NaN
USA    3.0
dtype: float64

### Dataframes

可以认为Dataframe是一组Series对象，并且它们共用一组index。

In [15]:
import pandas as pd
import numpy as np

In [16]:
from numpy.random import randn
np.random.seed(0)

In [17]:
df = pd.DataFrame(randn(5, 4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [18]:
df

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [20]:
# selection and indexing 从dataframe中获取数据
df['W']

A    1.764052
B    1.867558
C   -0.103219
D    0.761038
E    1.494079
Name: W, dtype: float64

In [21]:
df[['W', 'Z']]

          W         Z
A  1.764052  2.240893
B  1.867558 -0.151357
C -0.103219  1.454274
D  0.761038  0.333674
E  1.494079 -0.854096

In [22]:
type(df['X'])

pandas.core.series.Series

In [23]:
df['new'] = df['W'] + df['Y']

In [25]:
df

          W         X         Y         Z       new
A  1.764052  0.400157  0.978738  2.240893  2.742790
B  1.867558 -0.977278  0.950088 -0.151357  2.817646
C -0.103219  0.410599  0.144044  1.454274  0.040825
D  0.761038  0.121675  0.443863  0.333674  1.204901
E  1.494079 -0.205158  0.313068 -0.854096  1.807147

In [32]:
# 插一嘴 numpy中axis是从（x, y, z)
#对应（0， 1， 2）轴考虑 而dataframe中则是从[0, 1] 0 是行， 1是列数据索引考虑，所以不同
df.drop('new', axis=1)

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [33]:
df

          W         X         Y         Z       new
A  1.764052  0.400157  0.978738  2.240893  2.742790
B  1.867558 -0.977278  0.950088 -0.151357  2.817646
C -0.103219  0.410599  0.144044  1.454274  0.040825
D  0.761038  0.121675  0.443863  0.333674  1.204901
E  1.494079 -0.205158  0.313068 -0.854096  1.807147

In [34]:
df.drop('new', axis=1, inplace=True)

In [35]:
df

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [36]:
df.drop('E', axis=0)

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674

In [38]:
# 选择某行
df.loc['A']

W    1.764052
X    0.400157
Y    0.978738
Z    2.240893
Name: A, dtype: float64

In [39]:
df.iloc[2]

W   -0.103219
X    0.410599
Y    0.144044
Z    1.454274
Name: C, dtype: float64

In [42]:
df.loc['A', 'W']

1.764052345967664

In [43]:
df.loc[['A', 'B'], ['W','Y']]

          W         Y
A  1.764052  0.978738
B  1.867558  0.950088

In [44]:
df > 0

       W      X     Y      Z
A   True   True  True   True
B   True  False  True  False
C  False   True  True   True
D   True   True  True   True
E   True  False  True  False

In [45]:
df[df>0]

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558       NaN  0.950088       NaN
C       NaN  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079       NaN  0.313068       NaN

In [46]:
df[df['W']>0]

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [47]:
df[df['W']>0]['Y']

A    0.978738
B    0.950088
D    0.443863
E    0.313068
Name: Y, dtype: float64

In [48]:
df[df['W']>0][['Y', 'X']]

          Y         X
A  0.978738  0.400157
B  0.950088 -0.977278
D  0.443863  0.121675
E  0.313068 -0.205158

In [51]:
df[(df['W']>0) & (df['Y']>0)]

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [52]:
df

          W         X         Y         Z
A  1.764052  0.400157  0.978738  2.240893
B  1.867558 -0.977278  0.950088 -0.151357
C -0.103219  0.410599  0.144044  1.454274
D  0.761038  0.121675  0.443863  0.333674
E  1.494079 -0.205158  0.313068 -0.854096

In [53]:
df.reset_index()

  index         W         X         Y         Z
0     A  1.764052  0.400157  0.978738  2.240893
1     B  1.867558 -0.977278  0.950088 -0.151357
2     C -0.103219  0.410599  0.144044  1.454274
3     D  0.761038  0.121675  0.443863  0.333674
4     E  1.494079 -0.205158  0.313068 -0.854096

In [54]:
newind = 'CA, NY NY OR CO'.split()

In [55]:
df['States'] = newind

In [56]:
df

          W         X         Y         Z States
A  1.764052  0.400157  0.978738  2.240893    CA,
B  1.867558 -0.977278  0.950088 -0.151357     NY
C -0.103219  0.410599  0.144044  1.454274     NY
D  0.761038  0.121675  0.443863  0.333674     OR
E  1.494079 -0.205158  0.313068 -0.854096     CO

In [57]:
df.set_index('States')

               W         X         Y         Z
States
CA,     1.764052  0.400157  0.978738  2.240893
NY      1.867558 -0.977278  0.950088 -0.151357
NY     -0.103219  0.410599  0.144044  1.454274
OR      0.761038  0.121675  0.443863  0.333674
CO      1.494079 -0.205158  0.313068 -0.854096

In [59]:
df

          W         X         Y         Z States
A  1.764052  0.400157  0.978738  2.240893    CA,
B  1.867558 -0.977278  0.950088 -0.151357     NY
C -0.103219  0.410599  0.144044  1.454274     NY
D  0.761038  0.121675  0.443863  0.333674     OR
E  1.494079 -0.205158  0.313068 -0.854096     CO

In [60]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2','G2']

In [61]:
inside = [1, 2, 3, 1, 2, 3]

In [62]:
hier_index = list(zip(outside, inside))

In [63]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [64]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [65]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [66]:
df

             A         B
G1 1 -2.552990  0.653619
   2  0.864436 -0.742165
   3  2.269755 -1.454366
G2 1  0.045759 -0.187184
   2  1.532779  1.469359
   3  0.154947  0.378163

In [67]:
df.loc['G1']

          A         B
1 -2.552990  0.653619
2  0.864436 -0.742165
3  2.269755 -1.454366

In [68]:
df.index.names

FrozenList([None, None])

In [71]:
df.index.names = ['Group', 'Num']

In [72]:
df

                  A         B
Group Num
G1    1   -2.552990  0.653619
      2    0.864436 -0.742165
      3    2.269755 -1.454366
G2    1    0.045759 -0.187184
      2    1.532779  1.469359
      3    0.154947  0.378163

In [74]:
df.xs('G1')

            A         B
Num
1   -2.552990  0.653619
2    0.864436 -0.742165
3    2.269755 -1.454366

In [75]:
df.xs(['G1', 1])

A   -2.552990
B    0.653619
Name: (G1, 1), dtype: float64

In [76]:
df.xs(1, level='Num')

              A         B
Group
G1    -2.552990  0.653619
G2     0.045759 -0.187184

In [77]:
df.xs?

### 缺失值

In [79]:
df = pd.DataFrame({'A': [1, 2, np.nan],
                    'B': [5, np.nan, np.nan],
                   'C': [1, 2, 4]
                  })

In [80]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  4

In [81]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [82]:
df.dropna(axis=1)

   C
0  1
1  2
2  4

In [83]:
df.dropna(thresh=2) # 去掉有两个缺失值的行

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [85]:
df.fillna(value='Fill value')

            A           B  C
0           1           5  1
1           2  Fill value  2
2  Fill value  Fill value  4

In [86]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

### Groupby

In [87]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [88]:
df = pd.DataFrame(data)

In [89]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [90]:
df.groupby('Company')

In [91]:
by_comp = df.groupby('Company')

In [92]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [93]:
by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [94]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [95]:
by_comp.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [97]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [99]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

### merging joining concatnating

In [100]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [101]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [102]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [103]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [104]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [105]:
pd.concat([df1, df2, df3], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [106]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [107]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [108]:
right

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

In [109]:
pd.merge(left, right, how='inner', on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [110]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [111]:
pd.merge(left, right, on=['key1', 'key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [112]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [113]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [114]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [115]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [116]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [117]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

### 操作 Operations

In [118]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [119]:
df['col2'].unique()

array([444, 555, 666])

In [120]:
df['col2'].nunique()

3

In [121]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [122]:
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [123]:
newdf

   col1  col2 col3
3     4   444  xyz

In [124]:
def times2(x):
    return x*2
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [125]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [126]:
df['col1'].sum()

10

In [127]:
del df['col1'] # 永久删除了

In [128]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [129]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [130]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [131]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [132]:
df.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [133]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [134]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [135]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [136]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

In [137]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [138]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [139]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C']) # 透视表 功能多，具体操作请看文档

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# 概率论篇

## 随机变量

In [151]:
# 投掷两枚骰子的所有组合
# 其中key为 组合， value为骰子点数的和
d = {(i, j): i+j for i in range(1, 7) for j in range(1, 7)}

In [152]:
from collections import defaultdict
dinv = defaultdict(list) # 当访问不存在的键值时候， 返回一个空数组
for i, j in d.items():
    dinv[j].append(i)

In [153]:
# 两枚骰子 和 对应的组合
dinv

defaultdict(list,
            {2: [(1, 1)],
             3: [(1, 2), (2, 1)],
             4: [(1, 3), (2, 2), (3, 1)],
             5: [(1, 4), (2, 3), (3, 2), (4, 1)],
             6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)],
             7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)],
             8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)],
             9: [(3, 6), (4, 5), (5, 4), (6, 3)],
             10: [(4, 6), (5, 5), (6, 4)],
             11: [(5, 6), (6, 5)],
             12: [(6, 6)]})

In [156]:
# 点数和对应的概率
X = {i: len(j) / 36 for i , j in dinv.items()}

In [157]:
X

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776}